
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

html {
    background-color: var(--Errical-white);
    font-family: "Jockey One", sans-serif;
    font-style: normal;    
    line-height: 1.5;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}


:root{
    --Errical-white: #f2f2f2;
    --Boiling-magma: #EC4B3C;
    --Tea-green: #9DCDC0;
}

